@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  margin: 0;
  font-family: "Roboto";
}

p {
  font-size: 18px;
  font-weight: 100;
}

h3 {
  font-size: 19px;
  font-weight: 400;
  padding-bottom: 8px;
}

.loader {
  background-color: white;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 101;
  animation: disappear 400ms 1.5s forwards;
}
.loader .loader__animation {
  border: 10px solid #f3f3f3;
  border-top: 10px solid #9356dc;
  border-bottom: 10px solid #ff79da;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  margin: auto;
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  animation: spin 2s linear infinite;
}

@keyframes disappear {
  0% {
    transform: scale(1);
  }
  10% {
    opacity: 0.1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes appear {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.button {
  font-size: 17px;
  color: white;
  padding: 15px 40px;
  margin: 0;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  box-shadow: 0px 0px 10px #b6b4b4;
  background: linear-gradient(to bottom right, #ff79da, #9356dc);
}

.button {
  transition: transform 400ms;
}
.button:hover {
  transform: scale(1.02);
  background: linear-gradient(to bottom right, #ff83dd, #985ede);
  box-shadow: 0px 0px 10px #a09f9f;
}

.restaurants__card__container__button .heart--full {
  color: transparent;
  background: linear-gradient(#9356dc, #ff79da);
  background-clip: text;
  -webkit-background-clip: text;
  cursor: pointer;
  opacity: 0;
  transition: 200ms;
}
.restaurants__card__container__button .heart--full:hover {
  opacity: 1;
}

.main__start .heart--full {
  color: transparent;
  background: linear-gradient(#9356dc, #ff79da);
  background-clip: text;
  -webkit-background-clip: text;
  cursor: pointer;
  opacity: 0;
  transition: 200ms;
}
.main__start .heart--full:hover {
  opacity: 1;
}

header {
  position: sticky;
  z-index: 32;
  top: 0;
  background: white;
}

.header__title {
  font-family: "Shrikhand", cursive;
  font-size: 33px;
  text-align: center;
  padding: 15px 0;
}

.restaurants__card {
  margin: 0 20px 20px 20px;
  border-radius: 15px;
  position: relative;
  background-color: white;
  box-shadow: 0px 0px 10px #b6b4b4;
}
.restaurants__card:hover {
  box-shadow: 0px 0px 10px #a09f9f;
}
.restaurants__card__img img {
  width: 100%;
  height: 170px;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
}
.restaurants__card__img img:hover {
  filter: brightness(1.07);
}
.restaurants__card__img__new {
  font-size: 15px;
  font-weight: 500;
  position: absolute;
  z-index: 1;
  right: 15px;
  top: 15px;
  padding: 5px;
  background-color: #99e2d0;
  color: #075e07;
  border-radius: 3px;
}
.restaurants__card__container {
  padding: 15px;
  display: flex;
  justify-content: space-between;
}
.restaurants__card i {
  font-size: 20px;
  margin-top: 14px;
  position: absolute;
  right: 10%;
}
@media screen and (min-width: 768px) and (max-width: 890px) {
  .restaurants__card i {
    margin-top: 19px;
  }
}
.restaurants__card a {
  text-decoration: none;
  color: inherit;
}

.footer {
  background-color: #323232;
}
.footer__container {
  padding: 20px 20px 30px 20px;
}
.footer__container__title {
  font-family: "Shrikhand";
  font-size: 23px;
  color: white;
  padding-bottom: 20px;
}
.footer p {
  color: white;
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 10px;
}
.footer p i {
  padding-right: 10px;
}
.footer p a {
  text-decoration: none;
  color: inherit;
}

.location {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  margin: 0;
  padding: 15px 0;
  border-top: 2px solid #d1cfcf;
  background-color: #ebebeb;
}
.location__icone {
  vertical-align: text-top;
}
.location__text {
  padding: 0 15px;
}

.intro {
  background: #f6f6f6;
}
.intro__block {
  padding: 0px 0 40px 0;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .intro__block {
    padding: 40px 0 70px 0;
  }
}
.intro__block__first {
  margin: 0;
  padding: 30px 50px 20px 50px;
  font-weight: 500;
  font-size: 25px;
}
.intro__block__second {
  padding: 0 10px 30px 10px;
}

.fonctionnement {
  padding-top: 25px;
  margin-bottom: 70px;
}
.fonctionnement__title {
  font-size: 25px;
  font-weight: 500;
  padding: 0 0 25px 15px;
}
.fonctionnement__list {
  padding: 0 15px 0 25px;
}
.fonctionnement__list__items {
  font-size: 19px;
  font-weight: 500;
  background: #f6f6f6;
  border: none;
  border-radius: 25px;
  box-shadow: 0px 0px 10px #b6b4b4;
  padding: 25px 15px;
  margin-bottom: 25px;
  position: relative;
  transition: background 250ms;
}
.fonctionnement__list__items:hover {
  background: #f2eafb;
}
.fonctionnement__list__items:hover i {
  color: #9356dc;
}
.fonctionnement__list__items i {
  color: #7f7f7f;
  margin: 0 30px 0 15px;
}
.fonctionnement__list__items__number {
  font-size: 14px;
  color: white;
  border: 1px solid #9356dc;
  border-radius: 15px;
  background: #9356dc;
  padding: 4px 7px;
  position: absolute;
  left: -9px;
  top: 25px;
}

.restaurants {
  background: #f6f6f6;
  padding-bottom: 40px;
}
.restaurants__title {
  font-size: 25px;
  font-weight: 500;
  padding: 45px 0 20px 15px;
}

@media screen and (min-width: 768px) {
  .location__text {
    font-size: 25px;
  }

  .intro {
    background: url("https://cdn.pixabay.com/photo/2015/03/17/15/21/cafe-677895_1280.jpg") center/cover;
  }
  .intro__block__first {
    color: white;
  }
  .intro__block__second {
    color: white;
    font-weight: 400;
    font-size: 20px;
  }
  .intro__block__button {
    font-size: 19px;
    margin-top: 20px;
  }

  .fonctionnement__title {
    margin-bottom: 25px;
  }
  .fonctionnement__list {
    text-align: center;
    display: flex;
  }
  .fonctionnement__list__items {
    width: 30%;
    font-size: 22px;
    margin: 0 25px 0 0;
  }

  .restaurants__card__group {
    display: flex;
  }

  .restaurants__card {
    width: 25%;
    margin: 0 5px;
  }

  .footer {
    text-align: center;
  }
}
@media screen and (max-width: 350px) {
  .fonctionnement__list {
    padding: 0 10px 0 14px;
  }
  .fonctionnement__list__items {
    padding: 15px;
    font-size: 17px;
    border-radius: 18px;
  }
  .fonctionnement__list__items__number {
    top: 13px;
  }
  .fonctionnement__list__items i {
    margin: 0 10px;
  }
}
header a {
  color: inherit;
}

.arrow__home {
  font-size: 20px;
  position: absolute;
  top: 22px;
  left: 20px;
}

.lne {
  background-image: url(/Users/belonia/Documents/Docs_P3/images/large/lanoteenchantee.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.alf {
  background-image: url(/Users/belonia/Documents/Docs_P3/images/large/alafrancaise.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.lds {
  background-image: url(/Users/belonia/Documents/Docs_P3/images/large/ledelicedessens.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.lpg {
  background-image: url(/Users/belonia/Documents/Docs_P3/images/large/lapalettedugout.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.main {
  position: relative;
  z-index: 30;
  padding-top: 11rem;
}
@media screen and (max-width: 280px) {
  .main {
    padding-top: 9rem;
  }
}
.main__image__restaurant img {
  width: 100%;
  object-fit: cover;
  height: 300px;
}
.main__container {
  background: #f6f6f6;
  border-radius: 40px 40px 0 0;
  position: relative;
  z-index: 90;
}
.main__start {
  display: flex;
  position: relative;
}
.main__start i {
  position: absolute;
  top: 27px;
  right: 30px;
  font-size: 30px;
}
@media screen and (max-width: 350px) {
  .main__start i {
    font-size: 25px;
    right: 20px;
  }
}
.main__start__title {
  font-family: "Shrikhand", cursive;
  font-size: 29px;
  padding: 30px 0 0 20px;
}
@media screen and (max-width: 350px) {
  .main__start__title {
    font-size: 25px;
  }
}
@media screen and (max-width: 280px) {
  .main__start__title {
    font-size: 22px;
  }
}

.foods__group {
  padding: 0 0 30px 15px;
}

.foods__title {
  font-size: 20px;
  font-weight: 100;
  padding-bottom: 2px;
  margin: 30px 0 15px 0;
  width: 50px;
  border-bottom: 3px solid #99e2d0;
}

.foods__card {
  cursor: pointer;
  border: none;
  background: white;
  margin: 15px 15px 0 0;
  border-radius: 15px;
  box-shadow: 0px 0px 10px #b6b4b4;
  animation: appear 800ms;
  animation-fill-mode: backwards;
}
.foods__card:nth-child(1) {
  animation-delay: 200ms;
}
.foods__card:nth-child(2) {
  animation-delay: 400ms;
}
.foods__card:nth-child(3) {
  animation-delay: 600ms;
}
.foods__card:nth-child(4) {
  animation-delay: 800ms;
}
.foods__card:nth-child(5) {
  animation-delay: 1000ms;
}
.foods__card__container {
  display: flex;
  align-items: center;
  overflow: hidden;
  border-radius: 15px;
}
.foods__card__container__text {
  padding-left: 10px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.foods__card__container__price {
  font-weight: 400;
  margin: 15px 15px 0 auto;
  padding: 5px;
}
.foods__card__container__icon {
  color: #99e2d0;
  background: #99e2d0;
  padding: 20px;
  border-radius: 0 15px 15px 0px;
  margin-right: -64px;
  transition: all 700ms;
}
.foods__card__container__icon i {
  padding: 5px;
  background: white;
  border-radius: 15px;
}
.foods__card:hover .foods__card__container__icon {
  margin-right: 0px;
}
.foods__card:hover .foods__card__container__icon i {
  transform: rotate(360deg);
  transition: transform 700ms;
}

.name__menu,
.info__menu {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.button__commander {
  text-align: center;
  padding-bottom: 45px;
}

@media screen and (min-width: 768px) {
  .arrow__home {
    left: 150px;
  }

  .lne {
    background-size: 100% 800px;
    background-attachment: fixed;
  }

  .alf {
    background-size: 100% 430px;
    background-attachment: fixed;
  }

  .lds {
    background-size: 100% 550px;
    background-attachment: fixed;
  }

  .lpg {
    background-size: 100% 430px;
    background-attachment: fixed;
  }

  .main {
    padding-top: 15rem;
  }
  .main__container {
    border-radius: 40px 40px 0 0;
  }
  .main__start i {
    right: 50px;
  }
  .main__start__title {
    margin: auto;
  }

  .foods__group {
    padding-bottom: 25px;
    padding-left: 20%;
    padding-right: 20%;
  }

  .foods__title {
    margin-left: 0;
  }

  .footer {
    text-align: center;
  }
}

/*# sourceMappingURL=index.css.map */
