// .header__title {
//   font-family: "Shrikhand", cursive;
//   font-size: 33px;
//   text-align: center;
//   padding: 15px 0;
// }
// LOCATION //
.location {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  margin: 0;
  padding: 15px 0;
  border-top: 2px solid rgb(209, 207, 207);
  background-color: rgb(235, 235, 235);
  &__text {
    padding: 0 15px;
  }
}
// INTRODUCTION //
.intro {
  @include bglightgray;
  &__block {
    padding: 0px 0 40px 0;
    text-align: center;
    &__first {
      margin: 0;
      padding: 30px 50px 20px 50px;
      font-weight: 500;
      font-size: 25px;
    }
    &__second {
      padding: 0 10px 30px 10px;
    }
    &__button {
      font-size: 17px;
      color: white;
      padding: 15px;
      margin: 0;
      border-radius: 25px;
      border: none;
      cursor: pointer;
      @include box-shadow;
      background: linear-gradient(
        to bottom right,
        $colorSecondary,
        $colorPrimary
      );
    }
  }
}
// FIN INTRODUCTION //

// Section "Fonctionnement"//
.fonctionnement {
  padding-top: 25px;
  margin-bottom: 70px;
  &__title {
    font-size: 25px;
    font-weight: 500;
    padding: 0 0 25px 15px;
  }
  &__list {
    padding: 0 15px 0 25px;
  }
  &__list__items {
    font-size: 19px;
    font-weight: 500;
    @include bglightgray;
    border: none;
    border-radius: 25px;
    @include box-shadow;
    padding: 25px 15px;
    margin-bottom: 25px;
    position: relative;
    transition: background 250ms;
    &:hover {
      background: lighten($colorPrimary, 35);
      i {
        color: $colorPrimary;
      }
    }

    i {
      color: rgb(127, 127, 127);
      margin: 0 30px 0 15px;
    }
    &__number {
      font-size: 14px;
      color: white;
      border: 1px solid $colorPrimary;
      border-radius: 15px;
      background: $colorPrimary;
      padding: 4px 7px;
      position: absolute;
      left: -9px;
      top: 25px;
    }
  }
}
// FIN section "fonctionnement"//

// Section "Restaurants"//
.restaurants {
  @include bglightgray;
  padding-bottom: 40px;
  &__title {
    font-size: 25px;
    font-weight: 500;
    padding: 45px 0 20px 15px;
  }
}

// FIN section "Restaurants"//
