// HEADER
header {
  a {
    color: inherit;
  }
}
.fa-arrow-left {
  font-size: 20px;
  position: absolute;
  top: 22px;
  left: 20px;
}
// MAIN START
.main {
  position: relative;
  z-index: 30;
}
.main__image__restaurant {
  img {
    width: 100%;
    object-fit: cover;
    height: 300px;
  }
}
.main__container {
  @include bglightgray;
  border-radius: 40px 40px 0 0;
  position: relative;
  z-index: 90;
  margin-top: -70px;
}
.main__start {
  display: flex;
  position: relative;
  i {
    position: absolute;
    top: 27px;
    right: 30px;
    font-size: 30px;
    @media screen and (max-width: 350px) {
      font-size: 25px;
    }
  }
}
.main__start__title {
  font-family: "Shrikhand", cursive;
  font-size: 30px;
  padding: 30px 0 0 20px;
  @media screen and (max-width: 350px) {
    font-size: 25px;
  }
}
// SECTION MENUS ENTREES

.foods__group {
  padding: 0 0 30px 15px;
}

.foods__title__epd {
  font-size: 20px;
  font-weight: 100;
  padding-bottom: 2px;
  margin-bottom: 15px;
  margin-top: 30px;
  width: 50px;
  border-bottom: 3px solid $colorTertiary;
}
.foods__card {
  cursor: pointer;
  border: none;
  background: white;
  margin: 15px 15px 0 0;
  border-radius: 15px;
  @include box-shadow;
  animation: appear 800ms;
  animation-fill-mode: backwards;
  @for $i from 1 through 5 {
    &:nth-child(#{$i}) {
      animation-delay: 200ms * $i;
    }
  }
  &__container {
    display: flex;
    align-items: center;
    overflow: hidden;
    border-radius: 15px;
    &__text {
      padding-left: 10px;
      width: 100%;
    }
    &__price {
      font-weight: 400;
      margin: 15px 15px 0 auto;
      padding: 5px;
    }
    &__icon {
      color: $colorTertiary;
      background: $colorTertiary;
      padding: 20px;
      border-radius: 0 15px 15px 0px;
      margin-right: -64px;
      transition: all 700ms;

      i {
        padding: 5px;
        background: white;
        border-radius: 15px;
      }
    }
  }
  &:hover .foods__card__container__icon {
    margin-right: 0px;
    i {
      transform: rotate(360deg);
      transition: transform 700ms;
    }
  }
}
.name__menu,
.info__menu {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.button__commander {
  text-align: center;
  padding-bottom: 45px;
}

@media screen and (min-width: 768px) {
  .fa-arrow-left {
    left: 150px;
  }
  .main__image__restaurant {
    min-height: 40rem;
    img {
      object-fit: cover;
      height: 950px;
    }
  }

  .main__container {
    border-radius: 40px 40px 0 0;
    margin-top: -40rem;
  }
  .main__start i {
    right: 50px;
  }
  .main__start__title {
    margin: auto;
  }

  .foods__group {
    padding-bottom: 25px;
    padding-left: 20%;
    padding-right: 20%;
  }
  .foods__title__epd {
    margin-left: 0;
  }
  .footer {
    text-align: center;
  }
}
