.image__restaurant {
  img {
    width: 100%;
  }
}
// HEADER
.fa-arrow-left {
  font-size: 20px;
  position: absolute;
  top: 22px;
  left: 20px;
}
// MAIN START
.main {
  @include bglightgray;
  position: relative;
  top: -50px;
  z-index: 30;
  border-radius: 40px 40px 0 0;
}
.main__start {
  display: flex;
  position: relative;
  i {
    position: absolute;
    top: 27px;
    right: 30px;
    font-size: 30px;
  }
}
.main__start__title {
  font-family: "Shrikhand", cursive;
  font-size: 30px;
  padding: 30px 0 0 20px;
}
// SECTION MENUS ENTREES
.foods__group {
  padding: 45px 0 0 15px;
}
.foods__title__epd {
  font-size: 24px;
  font-weight: 100;
  padding-bottom: 2px;
  margin-bottom: 15px;
  width: 50px;
  border-bottom: 3px solid $colorTertiary;
}
.foods__card {
  border: none;
  background: white;
  margin-right: 15px;
  margin-bottom: 15px;
  border-radius: 15px;
  @include box-shadow;
  &__container {
    display: flex;
    align-items: center;
    overflow: hidden;
    border-radius: 15px;
    &__text {
      padding-left: 10px;
      width: 100%;
      text-overflow: "...";
      overflow: hidden;
      white-space: nowrap;
    }
    &__price {
      font-weight: bold;
      margin: 15px 15px 0 auto;
      padding: 5px;
    }
    &__icon {
      color: $colorTertiary;
      background: $colorTertiary;
      padding: 20px;
      border-radius: 0 15px 15px 0px;
      margin-right: -64px;
      transition: all 700ms;

      i {
        padding: 5px;
        background: white;
        border-radius: 15px;
      }
    }
  }
  &:hover .foods__card__container__icon {
    margin-right: 0px;
    i {
      transform: rotate(360deg);
      transition: transform 700ms;
    }
  }
}
.name__menu,
.info__menu {
  overflow: hidden;
  text-overflow: ellipsis;
}
