// CARDS DES RESTAURANTS  //
.restaurants__card {
  margin: 0 20px 20px 20px;
  border-radius: 15px;
  position: relative;
  background-color: white;
  @include boxShadow;
  &:hover {
    box-shadow: 0px 0px 10px rgb(160, 159, 159);
  }
  &__img {
    img {
      width: 100%;
      height: 170px;
      border-radius: 15px 15px 0 0;
      object-fit: cover;
      &:hover {
        filter: brightness(1.07);
      }
    }
    &__new {
      font-size: 15px;
      font-weight: 500;
      position: absolute;
      z-index: 1;
      right: 15px;
      top: 15px;
      padding: 5px;
      background-color: #99e2d0;
      color: rgb(7, 94, 7);
      border-radius: 3px;
    }
  }
  &__container {
    padding: 15px;
    display: flex;
    justify-content: space-between;
  }
  i {
    font-size: 20px;
    margin-top: 14px;
    position: absolute;
    right: 10%;
    @media screen and (min-width: 768px) and (max-width: 890px) {
      margin-top: 19px;
    }
  }
  a {
    text-decoration: none;
    color: inherit;
  }
}
// FIN CARDS DES RESTAURANTS  //
